<div class="main">
<div class="slider-container">
  <section class="slider">
    <div class="slide">
      <img src="assets/img/slide-1.jpg" alt="Slider image 1">
    </div>
    <div class="slide">
      <img src="assets/img/slide-2.jpg" alt="Slider image 2">
    </div>
    <div class="slide">
      <img src="assets/img/slide-3.jpg" alt="Slider image 3">
    </div>
    <div class="slide">
      <img src="assets/img/slide-4.jpg" alt="Slider image 3">
    </div>
  </section>
</div>

  <section class="new-arrivals">
   <div class="title">
     <h2>Nouveautés</h2>
   </div>
    <div class="new-arrivals-container">
      <main-item-card image="assets/img/kitchen.jpg"
                      price="99,99"
                      title="Cuisine italienne"></main-item-card>
      <main-item-card image="assets/img/room.jpg"
                      price="129,99"
                      title="Chambre Allemande"></main-item-card>
      <main-item-card image="assets/img/salon.jpg"
                      price="149,99"
                      title="Cuisine italienne"></main-item-card>
      <main-item-card image="assets/img/bathroom.jpg"
                      price="129,99"
                      title="Sale de bain"></main-item-card>
      <!--
      <div class="card">
        <img src="assets/img/kitchen.jpg" alt="New kitchen">
        <h3>Cuisine italienne</h3>
        <p class="price">99,99 $</p>
      </div>
      <div class="card">
        <img src="assets/img/room.jpg" alt="New room">
        <h3>Chambre Allemande </h3>
        <p class="price">129,99 $</p>
      </div>
      <div class="card">
        <img src="assets/img/salon.jpg" alt="New salon">
        <h3>Salon </h3>
        <p class="price">149,99 $</p>
      </div>
      <div class="card">
        <img src="assets/img/bathroom.jpg" alt="New bathroom">
        <h3>Sale de bain</h3>
        <p class="price">169,99 $</p>
      </div>
      -->
    </div>
  </section>

  <section>
    <div class="title"><h2>Top achats</h2></div>
    <div class="top-items">
    <div class="article">
      <img src="assets/img/salon.jpg" alt="Image 1">
      <div class="description">
        <h3>Titre de l'article 1</h3>
        <p>Description de l'article 1</p>
        <button>Voir plus de détails</button>
      </div>
    </div>
    <div class="article">
      <img src="assets/img/room.jpg" alt="Image 2">
      <div class="description">
        <h3>Titre de l'article 2</h3>
        <p>Description de l'article 2</p>
        <button>Voir plus de détails</button>
      </div>
    </div>
    </div>
  </section>
</div>
